@import './variables';
@import './mixins.scss';
* {
    box-sizing: border-box;
}
body {
    background-color: #b9540c;
    overflow: hidden;
}
header {
    text-align: center;
}
nav {
    background-color: $color-lazy-white;
    padding: 0.25rem;
    border-radius: 1rem;
    ul {
        display: flex;
        justify-content: space-evenly;
        @include unstyledList();
    }
    a {
        padding: 0.5rem;
        color: black;
        text-decoration: none;
    }
    a:hover {
        @include menuLinkHover();
    }
}
.home {
    margin-top: 3rem;
    height: 50vh;
    text-align: center;
}
.characters-list {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    align-items: center;
    padding: 0;
}
.character {
    width: 20%;
    flex-grow: 0;
    margin-inline: 0.25rem;
}
.character__name {
    height: 60px;
    margin-bottom: 0.5rem;
}
.character__picture {
    object-fit: cover;
    object-position: top;
    height: 200px;
}
.character__card {
    position: relative;
    background-color: #331c0e;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.list-unstyled {
    @include unstyledList();
}
.character__overlay {
    border-radius: 0.25rem;
    position: absolute;
    padding: 25px 15px;
    top: -100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}
.character:nth-child(even) .character__overlay {
    top: 100%;
}
.character:hover .character__overlay {
    opacity: 1;
    pointer-events: all;
    top: 0;
}
.character__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.character__action {
    background-color: #67331e;
    color: #fff;
    width: 80%;
}
.btn {
    @include btnTheme();
}
.btn:hover {
    @include btnHover();
}
.comunications {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 0 100px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &__picture {
        width: 10rem;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__text {
        font-size: 8rem;
    }
}
.emoji {
    color: $color-orange;
    font-style: normal;
    position: absolute;
    right: 5px;
    top: 5px;
}

.rotate {
    rotate: 180deg;
}

footer {
    background-color: #b9540c;
    color: var(--primary-color);
    padding-block: 1rem;
    flex: 1 0 var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
